# Google Earth Engine Credentials
# Өзіңіздің сервистік аккаунтыңызды жазыңыз
GEE_SERVICE_ACCOUNT=your-service-account@project.iam.gserviceaccount.com
# Кілт файлына баратын жол (Файлды жобаның ішіне қоюды ұмытпаңыз)
GEE_PRIVATE_KEY_PATH=./your-key-file.json
# Проект ID-іңіз
GEE_PROJECT_ID=your-project-id-12345